.spinner-button-loader {
    // Ajusta el tamaño de la “rueda” del spinner dentro del botón
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // color, etc.
  }
  