/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

body, html {
      scroll-behavior: smooth;
      scrollbar-width: none;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      } 
}
/* Aplica todas tus clases a p-select#pn_id_5 */
p-select#pn_id_5 {
    @apply w-full flex items-center gap-2 px-4 py-3 rounded-full transition-all
           border shadow-sm hover:bg-gray-100 dark:border dark:shadow-none dark:hover:bg-gray-800;
    /* !border-white/12 */
    border-color: rgba(255,255,255,0.12) !important;
  }
  

/* Import PrismJS styles */
@import "prismjs/themes/prism-tomorrow.css";